#content {

        text-align: left;
        padding-top: 5%;
}
body {  
        background: url(tea.jpg);
        background-size: cover;
        background-position: center;
        font-family: 'Work Sans';
}

button {
        background-color: black;
        color: white;
}

h1{
        font-size: 4em;
        text-align: left;
        color: #FFFFFF;
}

h3 {
        font-size: 4em;
}

p {
        width = 60%;
        text-align: left;
        color:#FFFFFF;
        font-size = 5em;
}

.text-wrapper {


}

.name {
        font-family:'Caveat', cursive;
        text-align: center;
        color: #FFFFFF;
        font-size: 5em;
}
.btn {
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
}
 html{
        height: 100%;
}

 hr {
        align-items: left;
        height: 1px;
        background-color: white;
        width: 400px;
 }
a {
        color:white;
}

.nav {
        color:#333333;
        /*background-color:teal;*/
        background-image: none;
        background-repeat: no-repeat;
 }