#content {

	text-align: left;
	padding-top: 5%;
	color: #333333;
}

body {
	background: url(https://images.unsplash.com/photo-1516053256215-94022213b13c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=703a399feb6c6139d4e355122c0ef2cc&auto=format&fit=crop&w=1567&q=80);
	background-size: cover;
	background-position: center;
	font-family: 'Work Sans';
	font-weight: bold;
}	

button {
	background-color: black;
	color: white;
}
 h1{
 	font-size: 4em;
 
 }

 h3 {
 	font-size: 2em;

 }

 html{
 	height: 100%;
 }

 hr {
 	align-items: left;
 	height: 1px;
 	background-color: white;
 	width: 400px;
 }
a {
	color:white;
}

.nav {
	color:#333333;	
  	/*background-color:teal;*/
  	background-image: none;
  	background-repeat: no-repeat;
 }




