#content {

	text-align: center;
	padding-top: 25%;
	color: white;
}

body {
	background: url(https://images.unsplash.com/photo-1526415302530-ad8c7d818689?ixlib=rb-0.3.5&s=ee6d11777e9a4d400d4e80b89a51842d&auto=format&fit=crop&w=2100&q=80);
	background-size: cover;
	background-position: center;
	font-family: 'Work Sans';
	font-weight: bold;
}	

button {
	background-color: black;
	color: white;
}
 h1{
 	font-size: 4em;
 
 }

 h3 {
 	font-size: 2em;

 }

 html{
 	height: 100%;
 }

 hr {
 	height: 1px;
 	background-color: white;
 	width: 400px;
 }
a {
	color:white;
}

.nav {
	color:#333333;	
  	/*background-color:teal;*/
  	background-image: none;
  	background-repeat: no-repeat;
 }




